$backgroundColor: #2C3639;
$lightBackgroundColor: #3F4E4F;
$lightBackgroundColor50: #3f4e4f80;
$accentColor: #A27B5C;
$offWhiteAccentColor: #DCD7C9;
$whiteTextColor: #F7F3E9;

$dangerColor: #DD331C;
$warningColor: #F0A028;
$successColor: #62D32C;
