@import "colors";
@import "mixins";

nav{
    
    background-color: $accentColor;
    img{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    display: flex;
    justify-content:center;
    .nav-buttonContainer{
        .btn{
            margin-left: 10px;
        }
        .nav-buttonContainer__button-language, .nav-buttonContainer__button-signin{
            @include grey-button
        }
        .nav-buttonContainer__button-language:hover, .nav-buttonContainer__button-signin:hover{
            @include grey-button-hover
        }
        .nav-buttonContainer__button-login{
            @include green-button
        }
        .nav-buttonContainer__button-login:hover{
            @include green-button-hover
        }
    }
}
