@import "colors";
@import "mixins";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $backgroundColor;
}

.schedulerPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.schedulerContainer {
    background-color: $backgroundColor;
    color: $whiteTextColor;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding-top: 10px;
    padding-right: 20px;
    height: calc(100vh - 50px);

    .categoryContainer {
        background-color: $lightBackgroundColor50;
        display: inline-block;
        vertical-align: top;
        //min-width: fit-content; /* Minimum width for each column */
        height: fit-content;
        min-height: 80px;
        max-height: calc(100vh - 90px); /* Adjust height to fit within the viewport minus padding */ //min-height: fit-content;
        margin-left: 10px;
        padding: 0px;
        border-radius: 8px;
        overflow-y: auto; /* Enable vertical scrolling */
        white-space: normal;
        min-width: fit-content;
        width: 200px;
    }
    .categoryContainer_name{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px;
        padding-top: 5px;
        white-space: wrap; //text-wrap: nowrap;
        border-radius: 8px;
        background-color: $accentColor;
    }
    .taskContainer{
        border-radius: 8px;
        background-color: $lightBackgroundColor;
        padding: 10px;
        padding-bottom: 2px;
        margin-bottom: 10px;
        display: block;
        white-space: wrap;
        max-width: 500px;

        .taskContainer_taskDescription{
            font-weight: 400;
            white-space: wrap;
            max-width: 100%;
        }
        .taskContainer_taskDeadline{
            font-weight: 400;
        }
    }
}

/* Ensuring the scrollbar doesn't overlap content */
.schedulerContainer::-webkit-scrollbar {
    height: 10px;
}

.schedulerContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.schedulerContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.categoryContainer::-webkit-scrollbar {
    width: 8px;
}

.categoryContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

.categoryContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

