@import "colors";
@import "mixins";

.signinContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%; /* Ensures the container takes full width */
    .signinContainer__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .signinContainer__formInput{
            width: 60%;
            max-width: 500px;
            min-width: 300px;
        }
        .signinContainer__signinButton{
            margin-top: 20px;
            @include green-button;
        }
        .signinContainer__signinButton:hover{
            margin-top: 20px;
            @include green-button-hover;
        }
    }
    
    
    .signinContainer__signinPrompt{
        margin-bottom: 30px;
        color: $whiteTextColor;
    }
}